body {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    background-color: #7BACF6;
    color: black;
}

a {
    color: black;
    text-decoration: None;
}

/* Mouse Over Link */
a:hover {
    color: #2706e2;
    text-decoration: None;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #111111;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #B49C5A;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #313141;
    color: white;
}

.movie-info {
    width: 70%;
    padding: 15 30px;
    /* padding top bottom to 0px, left right to 15px */
    display: flex;
    /* align child element horizontally*/
    flex-wrap: wrap;
    /* move child element to the next line if not enough space */
    align-items: center;
    background-color: #627BB4;
    /* padding: 15 Opx; */
    /* gap: 2rem; */
    border-radius: 30px;
    margin-bottom: 30px;
    /* vertically align the items inside the container */
    /* justify-content: space-around; */
    /* gap: 5rem; */
}

.movie-info img {
    width: 100%;
    max-width: 200px;
    object-fit: cover;
    /* cover the entire container while maintaining aspect ratio*/
    vertical-align: middle;
    border-radius: 30px;
    padding: 15 15px;
}

.movie-text {
    flex: 1;
}

.movie-genre {
    display: flex;
    gap: 1rem;
}

.movie-showtimes {
    display: flex;
    gap: 1rem;
}

.movie-cast {
    align-items: center;
    justify-content: start;
    display: flex;
    gap: 1rem;
    /* text-align: center; */
}

.movie-real {
    align-items: center;
    justify-content: start;
    display: flex;
    gap: 1rem;
    /* text-align: center; */
}

.movie-synopsis {
    text-align: justify;
    text-justify: auto;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #B49C5A;
    background-color: #414169;
    border-radius: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 18px;
    color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #313141;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #627BB4;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #B49C5A;
    border-top: none;
    background-color: #627BB4;
    color: white;
    border-radius: 10px;
}
