body {
    font-family: Arial, sans-serif;
    background-color: #FFFFD5;
    color: black;
}

div {
    border: 1px solid black;
  }

/* .movie-backgound {

} */

.movie-title {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

/* .movie-title h1 {

} */

.poster-synopsis {
    text-align: center;
    vertical-align: middle;
}

.poster-synopsis img {
    height: 50%;
    width: auto;
    float: left;
}

.poster-synopsis p {
    width: auto;
    height: auto;
    float: right;
    text-align: center;
    vertical-align: middle;
}

/* .movie-poster {
    width: 30%;
    height: auto;
    float: left;
}

.movie-poster img {
 width: 100%;
 height: auto;
}

.movie-synopsis {
    width: 65%;
    height: auto;
    float: right;
    text-align: center;
    vertical-align: middle;
} */



