<html>

<head>
    <meta charset="UTF-8">
    <title>Movie Details</title>
    <link href="{{ url_for('static', path='/home.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    {% for movie_key, movie_items in movies_dict.items() %}
    <div class="movie-info">
        <div class="movie-poster">
            <img src="{{ movie_items.posterUrl }}" alt="poster image">
        </div>
        <div class="movie-text">
            <h1>{{ movie_items.title }}</h1>
            <p>{{ movie_items.runtime }}</p>
            <div class="movie-genre">
                <p> genre : </p>
                {% for genre_ele in movie_items.genre %}
                <p>{{ genre_ele }}</p>
                {% endfor %}
            </div>
            <div class="movie-real">
                {% if movie_items.directors is not none %}
                <p> Réalisation : </p>
                {% for director_ele in movie_items.directors %}
                <p>{{ director_ele.lastName }} {{ director_ele.firstName }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="movie-cast">
                {% if movie_items.actors is not none %}
                <p> Casting : </p>
                {% for actor_ele in movie_items.actors %}
                <p>{{ actor_ele.lastName }} {{ actor_ele.firstName }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="movie-synopsis">
            <p>{{ movie_items.synopsis }}</p>
        </div>
    </div>
    {% endfor %}
</body>

</html>
