<html>
<head>
    <title>Movie Details</title>
    <link href="{{ url_for('static', path='/movie.css') }}" rel="stylesheet">
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> -->
</head>
<body>
    <div class="movie-background">
        <div class="movie-title">
            <h1>{{ title }}</h1>
        </div>

        <div class="poster-synopsis">
            <!-- <div class="movie-poster"> -->
                <img src="{{ posterUrl }}" alt="poster image">
            <!-- </div> -->
            <!-- <div class="movie-synopsis"> -->
                <p>{{ synopsis }}</p>
                <p>{{ runtime }}</p>
                {% for genre_ele in genre %}
                <p>{{ genre_ele }}</p>
                {% endfor %}


            <!-- </div> -->
        </div>
    </div>
</body>
</html>