<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <title>Movie Details</title>
    <link href="{{ url_for('static', path='/movie.css') }}" rel="stylesheet">
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> -->

</head>

<body>
    <div class="movie-info">
        <div class="movie-poster">
            <img src="{{ posterUrl }}" alt="poster image">
        </div>
        <div class="movie-text">
            <h1>{{ title }}</h1>
            <p>{{ synopsis }}</p>
            <p>{{ runtime }}</p>
            <div class="movie-genre">
                <p> Genre : </p>
                {% for genre_ele in genre %}
                <p>{{ genre_ele }}</p>
                {% endfor %}
            </div>
            <div class="movie-seances">
                <div class="tab">
                    {% for date, cinemas in seances.items() %}
                    <button class="tablinks" onclick="openCity(event, '{{ date }}')">{{ date}}</button>
                    {% endfor %}
                </div>
                {% for date, cinemas in seances.items() %}
                <div id="{{ date }}" class="tabcontent">
                    {% for cinema, showtimes in cinemas.items() %}
                    <div class="movie-showtimes">
                        <p>{{ cinema }}</p>
                        {% for showtime in showtimes %}
                        <p>{{ showtime }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="movie-cast">
        <p>Casting :</p>
        {% for actor in actors %}
        <div>
            <!-- <p>{{ actor.position}}</p> -->
            {% if actor.pictureUrl %}
            <img src="{{ actor.pictureUrl }}" alt="actor picture">
            {% endif %}
            <p>{{ actor.firstName }} {{ actor.lastName}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="movie-cast">
        <p>Réalisation :</p>
        {% for director in directors %}
        <div>
            <!-- <p>{{ director.position}}</p> -->
            <img src="{{ director.pictureUrl}}" alt="director picture">
            <p>{{ director.firstName}} {{ director.lastName}} </p>
        </div>
        {% endfor %}
    </div>
</body>
<script>
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.addEventListener('DOMContentLoaded', function () {
        // Get the first tab button and content
        const firstTab = document.getElementsByClassName("tablinks")[0];
        const firstTabContent = document.getElementsByClassName("tabcontent")[0];

        // Simulate clicking the first tab
        openCity({currentTarget: firstTab}, firstTabContent.id);
    });
</script>

</html>
